*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50.5%; } }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 43.5%; } }

body {
  box-sizing: border-box;
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent;
  text-decoration: none; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

:root {
  --transparent: rgba(255, 255, 255, .8);
  --white: rgba(255, 255, 255, .9);
  --teal-dark: rgba(1, 162, 166, 1);
  --teal-light: rgba(41, 217, 194, 1);
  --yellow: rgba(255, 255, 166, 1);
  --gray-dark: rgba(119, 119, 119, 1);
  --gray-light: rgba(174, 174, 174, 1);
  --background: rgba(242, 254, 254, 1);
  --border: rgba(232, 232, 232, 1);
  --green-light: rgba(189, 242, 113, 1);
  --green-dark: rgba(176, 228, 103, 1); }

body {
  font-family: 'Lato', sans-serif; }

*::placeholder {
  font-size: 1.4rem;
  color: #b5b5b5;
  font-style: italic; }

@font-face {
  font-family: "ChunkFive";
  src: url("../fonts/Chunkfive.otf"); }

.heading-primary {
  font-family: "ChunkFive";
  font-size: 6rem;
  color: var(--teal-light); }

.heading-secondary {
  font-size: 3rem;
  font-weight: 100;
  color: var(--teal-dark);
  margin: 1rem 0; }

.heading-header {
  color: var(--white);
  font-size: 8.08rem;
  text-transform: uppercase;
  margin: 0; }

.heading-color {
  color: var(--teal-dark); }

.heading-paragraph {
  color: var(--white);
  font-size: 1.7rem; }

.heading-newsletter {
  color: var(--white);
  margin: 0; }

.paragraph {
  line-height: 4rem; }

.section-paragraph {
  font-size: 1.6rem;
  color: var(--gray-dark); }

.offer-paragraph {
  font-size: 1.6rem; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

.btn {
  text-transform: uppercase;
  border: 0;
  font-weight: 800;
  cursor: pointer;
  background: transparent; }
  .btn__header {
    background: var(--yellow);
    border-radius: 4rem;
    padding: 2.5rem 2rem;
    transition: .3s all;
    margin-top: 5rem; }
    .btn__header:hover {
      padding: 2.5rem 3rem; }
  .btn__offer {
    color: var(--gray-light); }
    .btn__offer.active {
      color: #777777; }

.input__search {
  padding: .9rem 4rem;
  border: 1px solid var(--border);
  border-radius: 2rem;
  background: url("../images/search.png") no-repeat 1rem; }

.newsletter__email {
  display: flex;
  justify-content: center;
  height: 6rem;
  width: 50%;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  color: var(--gray-dark);
  border-radius: .5rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid var(--gray-dark);
  border-right: 0; }

.newsletter__submit {
  width: 8%;
  height: 6rem;
  font-size: 5rem;
  font-weight: 100;
  color: var(--white);
  border-radius: .5rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid var(--gray-dark);
  border-left: 0;
  background-color: var(--teal-dark); }

.header {
  background: url("../images/header.jpg") no-repeat center;
  background-size: cover; }
  .header__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11rem 0; }

.overlay {
  width: 70%;
  height: 4rem;
  margin: 0 auto;
  background-color: var(--transparent); }

.nav {
  max-height: 12.2rem;
  padding: 3.5rem 15rem; }
  .nav__list {
    display: flex;
    list-style-type: none; }
  .nav__item {
    display: flex;
    align-items: center;
    padding: 0 2rem; }
    .nav__item:not(:last-child) {
      margin-right: 1.5rem; }
    .nav__item.active {
      border: 2px solid var(--white);
      border-radius: 4rem;
      font-weight: 800;
      transition: .3s all; }
      .nav__item.active:hover {
        border-color: var(--yellow); }
        .nav__item.active:hover .nav__link {
          color: var(--yellow); }
    .nav__item:first-child {
      margin-right: auto; }
  .nav__logo:link, .nav__logo:visited {
    font-size: 2.518rem;
    color: var(--white); }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: var(--white);
    transition: .2s all; }
  .nav__link:hover {
    color: var(--yellow); }

.logo-bold {
  font-weight: 800; }

.user__image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%; }

.city-description {
  display: flex;
  padding: 0 13.5rem; }
  .city-description__image {
    width: 45%;
    padding: 10rem; }
  .city-description__info {
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 10rem; }

.offer {
  background-color: var(--background); }
  .offer__destination {
    display: flex;
    flex-wrap: wrap;
    padding: 0 23.5rem; }
    .offer__destination__container {
      width: 100%; }
    .offer__destination-info {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .offer__destination-content {
      width: 55%;
      margin-bottom: 6.5rem; }
    .offer__destination-search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 2rem; }
  .offer__item:first-of-type {
    margin-right: 1rem; }
  .offer__item:last-of-type {
    margin-left: 2rem; }
  .offer-info__link:link, .offer-info__link:visited {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: var(--gray-light); }
  .offer-info__icon {
    margin-right: 1rem; }
  .offer__list {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: var(--gray-light); }
  .offer-city-list {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 51.5rem auto;
    padding: 0 13.5rem; }
    .offer-city-list__link {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-size: 1.6rem;
      color: var(--white); }
  .offer-city-list__item {
    display: flex;
    width: 100%; }
    .offer-city-list__item:first-child {
      grid-column: 1 / -1; }
    .offer-city-list__item:nth-child(2) {
      grid-column: 1 / 8; }
    .offer-city-list__item:last-child {
      grid-column: 8 / 13; }
    .offer-city-list__item--big {
      justify-content: flex-end;
      background: url("../images/image.jpg");
      background-size: 100% 100%; }
    .offer-city-list__item--small {
      justify-content: space-between;
      background: url("../images/image2.jpg");
      background-size: 100% 100%; }
    .offer-city-list__item--tiny {
      justify-content: center;
      align-items: center;
      background: url("../images/island.jpg");
      background-size: 100% 100%; }
  .offer-city-description {
    padding: 4rem;
    background-color: var(--transparent); }
    .offer-city-description--big {
      width: 40%; }
    .offer-city-description--small {
      width: 100%; }
  .offer-overlay {
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    padding: 6rem 6rem 0 5rem; }
    .offer-overlay--big {
      width: 40.5%; }
    .offer-overlay--small {
      width: 50%; }

.overlay-rounded {
  display: flex;
  justify-content: center;
  background: var(--white);
  border-radius: 50%;
  width: 15rem;
  height: 15rem; }

.image {
  width: 100%;
  height: 100%; }
  .image-text {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem; }

.newsletter {
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: var(--green-dark); }
  .newsletter__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 6rem 0;
    background-color: var(--green-light); }
  .newsletter__subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: -3.6rem;
    padding: 6rem 0;
    background-color: var(--green-dark);
    transform: skewX(20deg); }
    .newsletter__subscribe > * {
      transform: skewX(-20deg); }

.footer {
  display: flex;
  flex-wrap: wrap;
  height: 27rem;
  padding: 2.5rem 13.5rem;
  background: url("../images/footer.jpg"); }
  .footer__list {
    display: flex;
    width: 50%; }
    .footer__list:last-of-type {
      justify-content: flex-end; }
  .footer__item {
    margin: 0 1rem;
    font-size: 1.2rem;
    color: var(--gray-dark); }
  .footer__link:link, .footer__link:visited {
    color: var(--gray-dark); }
  .footer__copyrights {
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--gray-light); }

.social__icon {
  width: 3.4rem;
  height: 3.1rem;
  margin: 0 .5rem;
  transition: .2s all;
  fill: #3d3741; }

.social__icon:hover {
  fill: var(--yellow); }
