*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50.5%; } }
  @media only screen and (max-width: 63em) {
    html {
      font-size: 43.5%; } }

body {
  box-sizing: border-box;
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent;
  text-decoration: none; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

:root {
  --transparent: rgba(255, 255, 255, .8);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --teal-dark: rgba(1, 162, 166, 1);
  --teal-transparent: rgba(1, 162, 166, .7);
  --teal-light: rgba(41, 217, 194, 1);
  --yellow: rgba(255, 255, 166, 1);
  --yellow-dark: rgba(245, 233, 158, 1);
  --sandy: rgba(174, 162, 92, 1);
  --gray-dark: rgba(119, 119, 119, 1);
  --gray-light: rgba(174, 174, 174, 1);
  --background: rgba(242, 254, 254, 1);
  --border: rgba(232, 232, 232, 1);
  --green-light: rgba(189, 242, 113, 1);
  --green-dark: rgba(176, 228, 103, 1); }

body {
  font-family: 'Lato', sans-serif; }

*::placeholder {
  font-size: 1.4rem;
  color: #b5b5b5;
  font-style: italic; }

@font-face {
  font-family: "ChunkFive";
  src: url("../fonts/Chunkfive.otf"); }

.heading-primary {
  font-family: "ChunkFive";
  font-size: 4rem;
  color: var(--teal-light); }

.heading-secondary {
  font-size: 3rem;
  font-weight: 100;
  color: var(--teal-dark);
  margin: 1rem 0; }

.heading-header {
  color: var(--white);
  font-size: 8.08rem;
  text-transform: uppercase;
  margin: 0; }
  @media only screen and (max-width: 50em) {
    .heading-header {
      font-size: 6.08rem; } }

.heading-color {
  color: var(--teal-dark); }

.heading-paragraph {
  color: var(--white);
  font-size: 1.7rem; }

.heading-contact {
  width: 100%;
  text-align: center;
  color: var(--white);
  z-index: 2;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 50em) {
    .heading-contact {
      margin-bottom: 3rem; } }
  .heading-contact-details {
    font-size: 4.4rem;
    font-weight: 100;
    color: var(--white);
    margin-bottom: 6rem; }
    @media only screen and (max-width: 50em) {
      .heading-contact-details {
        margin-bottom: 3rem; } }

.heading-newsletter {
  color: var(--white);
  margin: 0; }
  @media only screen and (max-width: 50em) {
    .heading-newsletter {
      font-size: 3rem; } }

.paragraph {
  line-height: 4rem; }
  @media only screen and (max-width: 50em) {
    .paragraph {
      line-height: 3rem; } }

.section-paragraph {
  font-size: 1.6rem;
  color: var(--gray-dark); }
  @media only screen and (max-width: 50em) {
    .section-paragraph {
      font-size: 1.25rem; } }

.offer-paragraph {
  font-size: 1.6rem; }
  @media only screen and (max-width: 50em) {
    .offer-paragraph {
      font-size: 1.25rem; } }

.trip-planner__heading-title {
  cursor: pointer; }

.trip-planner__destination-info-heading {
  font-size: 2.4rem;
  font-weight: 100;
  color: var(--gray-dark);
  margin-bottom: 2rem; }

.trip-planner__destination-info-paragraph {
  font-size: 1.4rem;
  color: var(--gray-light); }

.trip-planner__destination-list-heading {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--teal-light); }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

.btn {
  text-transform: uppercase;
  border: 0;
  font-weight: 800;
  cursor: pointer;
  background: transparent;
  font-size: 1.6rem; }
  @media only screen and (max-width: 50em) {
    .btn {
      font-size: 1.25rem; } }
  .btn__header {
    background: var(--yellow);
    border-radius: 4rem;
    margin-top: 5rem;
    padding: 2.5rem 2rem;
    transition: .3s all; }
    .btn__header:hover {
      padding: 2.5rem 3rem; }
  .btn__pagination {
    padding: 0 1.5rem;
    font-size: 1.8rem;
    color: var(--gray-light);
    transition: .3s all; }
    .btn__pagination:hover:not(:first-child) {
      color: var(--teal-light); }
    .btn__pagination--active {
      font-size: 2.4rem;
      color: var(--teal-dark); }
  .btn__pdf {
    background: var(--green-light);
    border-radius: 4rem;
    margin-right: 3rem;
    padding: 2.5rem 2rem;
    color: var(--white);
    transition: .3s all; }
    .btn__pdf:hover {
      padding: 2.5rem 3rem; }
  .btn__print {
    background: var(--teal-dark);
    border-radius: 4rem;
    padding: 2.5rem 2rem;
    color: var(--white);
    transition: .3s all; }
    .btn__print:hover {
      padding: 2.5rem 3rem; }
  .btn__remove {
    margin-left: auto;
    color: red; }
  .btn__submit {
    background: var(--green-light);
    border-radius: 4rem;
    padding: 2.5rem 2rem;
    color: var(--white);
    margin-top: 1.5rem;
    align-self: end;
    transition: .3s all; }
    .btn__submit:hover {
      padding: 2.5rem 3rem; }

.input__search {
  padding: .9rem 4rem;
  border: 1px solid var(--border);
  border-radius: 2rem;
  background: url("../images/search.png") no-repeat 1rem;
  transition: .3s all; }
  @media only screen and (max-width: 50em) {
    .input__search {
      width: 100%;
      padding: 1.5rem 5rem; } }
  .input__search:hover {
    padding: 1rem 4.5rem; }
    @media only screen and (max-width: 50em) {
      .input__search:hover {
        width: 100%;
        padding: 1.5rem 6rem; } }

.input {
  display: flex;
  justify-content: center;
  border-radius: .65rem;
  padding: 1rem 3.5rem;
  font-size: 1.6rem; }

.newsletter__email {
  height: 6rem;
  width: 63%;
  color: var(--gray-light);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid var(--gray-dark);
  border-right: 0; }

.newsletter__submit {
  width: 8%;
  height: 6rem;
  font-weight: 800;
  color: var(--white);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid var(--gray-dark);
  border-left: 0;
  background-color: var(--teal-dark); }

.trip-planner {
  font-size: 1.6rem; }
  .trip-planner__datepicker {
    background: none;
    border: 0;
    color: var(--teal-dark); }
  .trip-planner__add-subdestination-text {
    width: 100%;
    padding: 2rem;
    background-color: var(--yellow-dark);
    border: 0; }
  .trip-planner__add-subdestination-input {
    display: block;
    padding: 1rem;
    background-color: var(--yellow-dark);
    border: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: var(--sandy);
    cursor: pointer;
    transition: .3s all; }
    .trip-planner__add-subdestination-input:hover {
      background-color: var(--teal-light);
      color: var(--white); }
    .trip-planner__add-subdestination-input--add {
      float: right; }
    .trip-planner__add-subdestination-input--clear {
      float: left; }
  .trip-planner__destination-sort {
    border: none;
    color: var(--gray-light);
    background-color: transparent; }
    .trip-planner__destination-sort-label {
      color: var(--teal-light); }

.contact__input {
  height: 5.6rem;
  margin-bottom: 2rem;
  border: 1px solid var(--gray-light); }

.contact__fieldset {
  display: flex;
  width: 100%;
  padding: 0;
  border: 0; }

.contact__company {
  width: 48%;
  margin-right: 1rem; }

.contact__subject {
  width: 48%;
  margin-left: 1rem; }

.contact__message {
  height: 10rem;
  resize: none; }

.header {
  background: url("../images/header.jpg") no-repeat center;
  background-size: cover; }
  @media only screen and (min-width: 175em) {
    .header {
      background-size: contain;
      background-color: var(--teal-transparent); } }
  .header__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11rem 0; }
    @media only screen and (max-width: 50em) {
      .header__info {
        padding: 4rem 5rem;
        text-align: center; } }

.overlay {
  width: 70%;
  height: 4rem;
  margin: 0 auto;
  background-color: var(--transparent); }
  @media only screen and (min-width: 175em) {
    .overlay {
      width: 30%; } }

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 3.5rem 15rem; }
  @media only screen and (max-width: 50em) {
    .nav {
      justify-content: space-between;
      align-items: center;
      padding: 3rem;
      background-color: var(--transparent); } }
  .nav__toggle {
    display: none; }
    @media only screen and (max-width: 50em) {
      .nav__toggle {
        display: flex;
        font-size: 6.08rem;
        position: relative;
        width: 3rem;
        height: 1.5rem;
        border: 0;
        border-top: 1px solid var(--black);
        background: transparent;
        cursor: pointer; }
        .nav__toggle::before, .nav__toggle::after {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          border-top: 1px solid var(--black); }
        .nav__toggle::after {
          top: -.75rem; } }
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none; }
    @media only screen and (max-width: 50em) {
      .nav__list {
        opacity: 0;
        width: 100%;
        max-height: 0;
        transition: .4s all; } }
    @media only screen and (max-width: 50em) {
      .nav__list--expanded {
        opacity: 1;
        max-height: 25rem;
        width: 100%;
        margin-top: 2rem;
        transition: .4s all; } }
  .nav__item {
    display: flex;
    align-items: center;
    padding: 0 2rem; }
    .nav__item:not(:last-child) {
      margin-right: 1.5rem; }
    .nav__item.active {
      border: 2px solid var(--white);
      border-radius: 4rem;
      font-weight: 800;
      transition: .3s all; }
      @media only screen and (max-width: 50em) {
        .nav__item.active {
          border: 0;
          border-radius: 0;
          color: var(--green-dark); } }
      .nav__item.active:hover {
        border-color: var(--yellow); }
        @media only screen and (max-width: 50em) {
          .nav__item.active:hover {
            border-color: var(--teal-dark); } }
        .nav__item.active:hover .nav__link {
          color: var(--yellow); }
    @media only screen and (max-width: 50em) {
      .nav__item:first-child {
        border-top: 1px solid var(--teal-dark); } }
    @media only screen and (max-width: 50em) {
      .nav__item {
        width: 100%;
        padding: 1rem 0; } }
  .nav__logo:link, .nav__logo:visited {
    margin-right: auto;
    font-size: 2.518rem;
    color: var(--white); }
    @media only screen and (max-width: 50em) {
      .nav__logo:link, .nav__logo:visited {
        color: var(--teal-dark); } }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: var(--white);
    transition: .2s all; }
    @media only screen and (max-width: 50em) {
      .nav__link:link, .nav__link:visited {
        color: var(--gray-dark); } }
  .nav__link:hover {
    color: var(--yellow); }

.logo-bold {
  font-weight: 800; }

@media only screen and (max-width: 50em) {
  .user {
    order: -1; } }

.user__image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transform: scale(0.9);
  transition: .3s all; }
  .user__image:hover {
    transform: scale(1); }

.city-description {
  display: flex;
  padding: 0 13.5rem; }
  @media only screen and (min-width: 175em) {
    .city-description {
      padding: 0 71.5rem; } }
  @media only screen and (max-width: 90em) {
    .city-description {
      padding: 5.5rem; } }
  @media only screen and (max-width: 90em) {
    .city-description {
      padding: 5.5rem; } }
  @media only screen and (max-width: 75em) {
    .city-description {
      padding: 0; } }
  @media only screen and (max-width: 63em) {
    .city-description {
      flex-direction: column;
      align-items: center; } }
  .city-description__image {
    width: 45%;
    padding: 10rem; }
    @media only screen and (max-width: 63em) {
      .city-description__image {
        width: 100%;
        padding: 0 10rem;
        text-align: center; } }
    @media only screen and (max-width: 50em) {
      .city-description__image {
        width: 100%;
        text-align: center; } }
  .city-description__svg {
    max-width: 100%;
    height: auto; }
  .city-description__info {
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 10rem; }
    @media only screen and (max-width: 63em) {
      .city-description__info {
        width: 100%;
        margin-bottom: 8rem;
        padding: 0 37rem;
        text-align: center; } }
    @media only screen and (max-width: 50em) {
      .city-description__info {
        padding: 0 24rem; } }
    @media only screen and (max-width: 37.5em) {
      .city-description__info {
        padding: 0 6rem; } }

.offer {
  background-color: var(--background); }
  .offer__destination {
    display: flex;
    flex-wrap: wrap;
    padding: 0 23.5rem; }
    @media only screen and (min-width: 175em) {
      .offer__destination {
        padding: 0 84.5rem; } }
    @media only screen and (max-width: 90em) {
      .offer__destination {
        padding: 0 18.5rem; } }
    @media only screen and (max-width: 90em) {
      .offer__destination {
        padding: 0 18.5rem; } }
    @media only screen and (max-width: 50em) {
      .offer__destination {
        padding: 0 12.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .offer__destination {
        padding: 0 6.5rem; } }
    .offer__destination__container {
      width: 100%; }
    .offer__destination-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap; }
      @media only screen and (max-width: 50em) {
        .offer__destination-info {
          margin-bottom: 2rem; } }
    .offer__destination-content {
      width: 55%;
      margin-bottom: 6.5rem; }
      @media only screen and (max-width: 50em) {
        .offer__destination-content {
          width: 100%;
          margin-bottom: 3.5rem; } }
    .offer__destination-search {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      margin-bottom: 2rem; }
      @media only screen and (max-width: 50em) {
        .offer__destination-search {
          justify-content: center; } }
  .offer__item {
    color: var(--gray-light);
    transition: .3s all;
    cursor: pointer; }
    .offer__item:hover {
      color: var(--teal-dark); }
    .offer__item.active {
      color: #777777; }
    .offer__item:first-of-type {
      margin-right: 1rem; }
    .offer__item:last-of-type {
      margin-left: 2rem; }
  .offer-info__link:link, .offer-info__link:visited {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: var(--gray-light);
    transition: .3s all; }
    .offer-info__link:link:hover, .offer-info__link:visited:hover {
      color: var(--teal-dark); }
  .offer-info__link:hover .offer-info__icon-path {
    fill: var(--teal-dark); }
  .offer-info__icon {
    margin-right: 1rem; }
    .offer-info__icon-path {
      transition: .3s all; }
  .offer__list {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: var(--gray-light); }
    @media only screen and (max-width: 50em) {
      .offer__list {
        margin: 2rem 0; } }
  .offer-city-list {
    display: none;
    grid-gap: 3rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 51.5rem auto;
    padding: 0 13.5rem; }
    @media only screen and (min-width: 175em) {
      .offer-city-list {
        padding: 0 71.5rem; } }
    @media only screen and (max-width: 90em) {
      .offer-city-list {
        padding: 0 7.5rem; } }
    @media only screen and (max-width: 90em) {
      .offer-city-list {
        padding: 0 7.5rem; } }
    @media only screen and (max-width: 50em) {
      .offer-city-list {
        grid-auto-rows: 28rem; } }
    @media only screen and (max-width: 50em) {
      .offer-city-list {
        grid-template-rows: auto auto; } }
    @media only screen and (max-width: 37.5em) {
      .offer-city-list {
        padding: 0 4.5rem; } }
    .offer-city-list--active {
      display: grid; }
    .offer-city-list__link {
      display: flex;
      width: 59.5%;
      flex-direction: column;
      justify-content: flex-end;
      padding-right: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 1.6rem;
      text-align: end;
      font-weight: 800;
      color: var(--white);
      background-image: radial-gradient(circle at bottom right, black, transparent 23%);
      opacity: .85;
      transition: .3s all; }
      .offer-city-list__link:hover {
        opacity: 1; }
      @media only screen and (max-width: 50em) {
        .offer-city-list__link {
          width: 100%; } }
  .offer-city-list__item {
    display: flex;
    width: 100%; }
    .offer-city-list__item:first-child {
      grid-column: 1 / -1; }
    .offer-city-list__item:nth-child(2) {
      grid-column: 1 / 8; }
      @media only screen and (max-width: 50em) {
        .offer-city-list__item:nth-child(2) {
          grid-column: 1 / -1; } }
    .offer-city-list__item:last-child {
      grid-column: 8 / 13; }
      @media only screen and (max-width: 50em) {
        .offer-city-list__item:last-child {
          grid-column: 4 / 10; } }
      @media only screen and (max-width: 37.5em) {
        .offer-city-list__item:last-child {
          grid-column: 1 / -1; } }
    .offer-city-list__item--big {
      justify-content: flex-end;
      background: url("../images/image.jpg");
      background-size: 100% 100%; }
    .offer-city-list__item--small {
      justify-content: space-between;
      background: url("../images/image2.jpg");
      background-size: 100% 100%; }
      @media only screen and (max-width: 50em) {
        .offer-city-list__item--small {
          background-size: cover; } }
    .offer-city-list__item--tiny {
      justify-content: flex-end;
      position: relative;
      background: url("../images/island.jpg");
      background-size: 100% 100%; }
  .offer-city-description {
    padding: 4rem;
    background-color: var(--transparent); }
    .offer-city-description--big {
      width: 40%; }
    .offer-city-description--small {
      width: 100%; }
  .offer-overlay {
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    padding: 6rem 6rem 0 5rem; }
    @media only screen and (max-width: 90em) {
      .offer-overlay {
        padding: 4rem 4rem 0 3rem; } }
    @media only screen and (max-width: 90em) {
      .offer-overlay {
        padding: 4rem 4rem 0 3rem; } }
    .offer-overlay--big {
      width: 40.5%; }
      @media only screen and (max-width: 50em) {
        .offer-overlay--big {
          width: 100%;
          padding: 4rem 4rem 4rem 3rem; } }
    .offer-overlay--small {
      width: 50%;
      padding: 3rem 6rem 3rem 5rem; }
      @media only screen and (max-width: 90em) {
        .offer-overlay--small {
          padding: 2rem 3rem 2rem 3rem; } }
      @media only screen and (max-width: 90em) {
        .offer-overlay--small {
          padding: 2rem 3rem 2rem 3rem; } }
  .offer-pagination {
    display: flex;
    justify-content: center;
    padding: 7rem 0; }

#offer__recommended .offer-city-list__item--small {
  grid-column: 1 / -1; }

.overlay-rounded {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 15rem;
  height: 15rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: var(--white);
  border-radius: 50%; }

.image {
  width: 100%;
  height: 100%; }
  .image-text {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem; }

.trip-planner {
  width: calc(50% - 1.75rem);
  margin-right: 3.5rem; }
  @media only screen and (max-width: 50em) {
    .trip-planner {
      width: 100%;
      margin-right: 0; } }
  .trip-planner__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10rem;
    padding: 0 13.5rem; }
    @media only screen and (min-width: 175em) {
      .trip-planner__container {
        padding: 0 71.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .trip-planner__container {
        padding: 0 7.5rem; } }
  .trip-planner__header {
    width: 100%;
    margin-bottom: 14.5rem;
    text-align: center; }
    @media only screen and (max-width: 50em) {
      .trip-planner__header {
        margin-bottom: 6.5rem;
        padding: 0 14rem; } }
    @media only screen and (max-width: 37.5em) {
      .trip-planner__header {
        margin-bottom: 3.5rem;
        padding: 0 10rem; } }
  .trip-planner__title {
    padding: 3rem 0;
    background-color: var(--teal-light);
    text-align: center;
    color: var(--white);
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem; }
  .trip-planner__body {
    margin-bottom: 1.5rem;
    padding: 3rem 4rem;
    background-color: var(--yellow); }
  .trip-planner__date {
    display: flex;
    justify-content: space-between; }
  .trip-planner__controls {
    display: flex;
    justify-content: flex-end; }
  .trip-planner__form {
    display: block;
    opacity: 0;
    width: 90%;
    max-height: 0;
    color: var(--sandy);
    transition: .3s all; }
  .trip-planner__subdestination-list {
    list-style: none;
    padding: 2rem;
    background-color: var(--yellow-dark); }
    .trip-planner__subdestination-list-item {
      display: flex;
      padding: 2rem;
      opacity: 0;
      animation: new-item-animation .3s linear forwards; }
      .trip-planner__subdestination-list-item:not(:first-of-type) {
        border-top: 1px solid var(--sandy); }
  .trip-planner__destination-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .trip-planner__destination-list {
    width: calc(50% - 1.75rem);
    text-align: center; }
    @media only screen and (max-width: 50em) {
      .trip-planner__destination-list {
        width: 100%;
        margin-top: 5rem; } }
    .trip-planner__destination-list-controls {
      display: flex;
      align-items: center;
      margin-top: 3.5rem;
      margin-bottom: 2rem;
      padding: 0;
      border: none;
      font-size: 1.6rem; }
  .trip-planner__destination--empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 7rem;
    margin-top: 1.5rem;
    background-color: var(--yellow-dark);
    border: 2px dashed var(--gray-light);
    border-radius: .75rem;
    font-size: 1.6rem;
    color: var(--gray-dark);
    text-align: center; }
  .trip-planner__destination--list-empty {
    background-color: transparent;
    border: 1px solid var(--gray-light); }
  .trip-planner__destination--filled {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--white);
    border: 1px solid var(--gray-light);
    border-radius: .75rem;
    cursor: pointer; }
  .trip-planner__destination-info {
    margin-right: auto; }
  .trip-planner__destination-details {
    display: flex;
    flex-direction: column; }
    .trip-planner__destination-details-link:link, .trip-planner__destination-details-link:visited {
      font-size: 1.4rem;
      color: var(--teal-dark); }

.contact {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 6rem 13.5rem;
  background: url("../images/map.jpg");
  background-position: 100% 100%; }
  @media only screen and (min-width: 175em) {
    .contact {
      padding: 0 71.5rem; } }
  @media only screen and (max-width: 50em) {
    .contact {
      flex-direction: column;
      padding: 5rem; } }
  .contact:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--teal-transparent); }
  .contact__form {
    display: flex;
    flex-direction: column;
    width: 75%; }
    @media only screen and (max-width: 50em) {
      .contact__form {
        width: 100%; } }
    .contact__form-container {
      width: 50%;
      z-index: 2; }
      @media only screen and (max-width: 50em) {
        .contact__form-container {
          width: 100%; } }
  .contact__info {
    width: 50%;
    z-index: 2; }
    @media only screen and (max-width: 50em) {
      .contact__info {
        width: 100%;
        margin-top: 5rem;
        text-align: center; } }
  .contact__list {
    font-size: 1.2rem;
    color: var(--white);
    font-weight: 800;
    list-style-type: none; }
  .contact__item:not(:last-child) {
    margin-bottom: 1.5rem; }

.newsletter {
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: var(--green-dark); }
  @media only screen and (max-width: 50em) {
    .newsletter {
      flex-wrap: wrap; } }
  .newsletter__info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5.5rem 13.5rem;
    background-color: var(--green-light); }
    @media only screen and (min-width: 175em) {
      .newsletter__info {
        padding: 5.5rem 0 5.5rem 71.5rem; } }
    @media only screen and (max-width: 50em) {
      .newsletter__info {
        align-items: center;
        width: 100%;
        padding: 3rem; } }
  .newsletter__subscribe {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    margin-left: -3.6rem;
    padding: 5.5rem 10.6rem;
    background-color: var(--green-dark);
    transform: skewX(20deg); }
    @media only screen and (min-width: 175em) {
      .newsletter__subscribe {
        padding: 5.5rem 71.5rem 5.5rem 0; } }
    @media only screen and (max-width: 50em) {
      .newsletter__subscribe {
        justify-content: center;
        width: 100%;
        margin-left: 0;
        padding: 3rem; } }
    .newsletter__subscribe > * {
      transform: skewX(-20deg); }

@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-400px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.footer {
  display: flex;
  flex-wrap: wrap;
  height: 27rem;
  padding: 2.5rem 13.5rem;
  background: url("../images/footer.jpg"); }
  @media only screen and (max-width: 50em) {
    .footer {
      height: 15rem;
      padding: 2.5rem 5.5rem; } }
  .footer__list {
    display: flex;
    width: 50%; }
    .footer__list:last-of-type {
      justify-content: flex-end;
      list-style-type: none; }
  .footer__item {
    margin: 0 1rem;
    font-size: 1.2rem;
    color: var(--gray-dark); }
    @media only screen and (max-width: 50em) {
      .footer__item {
        font-size: 1.5rem; } }
  .footer__link:link, .footer__link:visited {
    color: var(--gray-dark); }
  .footer__copyrights {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    color: var(--gray-light); }

.social__icon {
  width: 3.4rem;
  height: 3.1rem;
  margin: 0 .5rem;
  transition: .2s all;
  fill: #3d3741; }

.social__icon:hover {
  fill: var(--yellow); }
