.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 3.5rem 15rem;
  @include respond(phone) {
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: var(--transparent);
  }
  &__toggle {
    display: none;
    @include respond(phone) {
      display: flex;
      font-size: 6.08rem;
      position: relative;
      width: 3rem;
      height: 1.5rem;
      border: 0;
      border-top: 1px solid var(--black);
      background: transparent;
      cursor: pointer;
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        border-top: 1px solid var(--black);
      }
      &::after {
        top: -.75rem;
      }
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    @include respond(phone) {
      opacity: 0;
      width: 100%;
      max-height: 0;
      transition: .3s all;
    }

    &--expanded {
      @include respond(phone) {
        opacity: 1;
        max-height: 25rem;
        width: 100%;
        margin-top: 2rem;
        transition: .3s all;
      }
    }
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
    &.active {
      border: 2px solid var(--white);
      border-radius: 4rem;
      font-weight: 800;
      transition: .3s all;
      @include respond(phone) {
        border: 0;
        border-radius: 0;
        color: var(--green-dark);
      }
      &:hover {
        border-color: var(--yellow);
        @include respond(phone) {
          border-color: var(--teal-dark);
        }
        & .nav__link {
          color: var(--yellow);
        }
      }
    }
    &:first-child {
      @include respond(phone) {
        border-top: 1px solid var(--teal-dark);
      }
    }
    @include respond(phone) {
      width: 100%;
      padding: 1rem 0;
    }
  }
  &__logo:link,
  &__logo:visited {
    margin-right: auto;
    font-size: 2.518rem;
    color: var(--white);
    @include respond(phone) {
      color: var(--teal-dark);
    }
  }
  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: var(--white);
    transition: .2s all;
    @include respond(phone) {
      color: var(--gray-dark);
    }
  }
  &__link:hover {
    color: var(--yellow);
  }
}
.logo-bold {
  font-weight: 800;
}
.user {
  &__image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
}