.nav {
  max-height: 12.2rem;
  padding: 3.5rem 15rem;
  @include respond(phone) {
    padding: 3rem;
  }
  &__list {
    display: flex;
    list-style-type: none;
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
    &.active {
      border: 2px solid var(--white);
      border-radius: 4rem;
      font-weight: 800;
      transition: .3s all;
      &:hover {
        border-color: var(--yellow);
        & .nav__link {
          color: var(--yellow);
        }
      }
    }
    &:first-child {
      margin-right: auto;
    }
  }
  &__logo:link,
  &__logo:visited {
    font-size: 2.518rem;
    color: var(--white);
  }
  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: var(--white);
    transition: .2s all;
  }
  &__link:hover {
    color: var(--yellow);
  }
}
.logo-bold {
  font-weight: 800;
}
.user {
  &__image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
}