.btn {
  text-transform: uppercase;
  border: 0;
  font-weight: 800;
  cursor: pointer;
  background: transparent;
  &__header {
    background: var(--yellow);
    border-radius: 4rem;
    padding: 2.5rem 2rem;
    transition: .3s all;

    &:hover {
      padding: 2.5rem 3rem;
    }
  }
  &__offer {
    color: var(--gray-light);
    &.active {
      color: rgba(119, 119, 119, 1);
    }
  }
}
