.input {
  display: flex;
  justify-content: center;
  border-radius: .65rem;
  padding: 1rem 3.5rem;
  font-size: 1.6rem;
}

.newsletter {
  &__email {
    height: 6rem;
    width: 63%;
    color: var(--gray-light);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid var(--gray-dark);
    border-right: 0;
  }
  &__submit {
    width: 8%;
    height: 6rem;
    font-weight: 800;
    color: var(--white);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: 1px solid var(--gray-dark);
    border-left: 0;
    background-color: var(--teal-dark);
  }
}
.trip-planner {
  font-size: 1.6rem;
  &__datepicker {
    background: none;
    border: 0;
    color: var(--teal-dark);
  }
  &__add-subdestination {
    &-text {
      width: 100%;
      padding: 2rem;
      background-color: var(--yellow-dark);
      border: 0;
    }
    &-input {
      display: block;
      float: right;
      padding: 1rem;
      background-color: var(--yellow-dark);
      border: 0;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      color: var(--sandy);
      cursor: pointer;
    }
  }
}
.contact {
  &__input {
    height: 5.6rem;
    margin-bottom: 2rem;
    border: 1px solid var(--gray-light);
  }
  &__email {

  }
  &__fieldset {
    display: flex;
    width: 100%;
    padding: 0;
    border: 0;
  }
  &__company {
    width: 48%;
    margin-right: 1rem;
  }
  &__subject {
    width: 48%;
    margin-left: 1rem;
  }
  &__message {
    height: 10rem;
    resize: none;
  }
}