body {
  font-family: 'Lato', sans-serif;
}
@font-face {
  font-family: "ChunkFive";
  src: url('../fonts/Chunkfive.otf')
}
.heading {
  font-family: "ChunkFive";
  &-header {
    color: var(--white);
    font-size: 8.08rem;
    text-transform: uppercase;
    margin: 0;
  }
  &-color {
    color: var(--green-dark);
  }
  &-paragraph {
    color: var(--white);
    font-size: 1.8rem;
    margin: 1rem;
    &:last-of-type {
      margin-bottom: 5rem;
    }
  }
  &-primary {
    font-size: 6rem;
    color: var(--green-light);
  }
}
.section {
  &-paragraph {
    font-size: 1.6rem;
    color: var(--grey);
  }
}