body {
  font-family: 'Lato', sans-serif;
}
*::placeholder {
  font-size: 1.4rem;
  color: rgba(181, 181, 181, 1);
  font-style: italic;
}
@font-face {
  font-family: "ChunkFive";
  src: url('../fonts/Chunkfive.otf')
}
.heading {
  &-primary {
    font-family: "ChunkFive";
    font-size: 6rem;
    color: var(--teal-light);
  }
  &-secondary {
    font-size: 3rem;
    font-weight: 100;
    color: var(--teal-dark);
    margin: 1rem 0;
  }
  &-header {
    color: var(--white);
    font-size: 8.08rem;
    text-transform: uppercase;
    margin: 0;
  }
  &-color {
    color: var(--teal-dark);
  }
  &-paragraph {
    color: var(--white);
    font-size: 1.7rem;
  }
  &-newsletter {
    color: var(--white);
    margin: 0;
  }
}
.paragraph {
  line-height: 4rem;
}
.section {
  &-paragraph {
    font-size: 1.6rem;
    color: var(--gray-dark);
  }
}
.offer {
  &-paragraph {
    font-size: 1.6rem;
  }
}