.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.hidden {
  display: none!important;
}
.visible {
  opacity: 1!important;
  max-height: 100%!important;
}
.disabled {
  pointer-events: none!important;
}

