.header {
  background: url('../images/header.jpg') no-repeat center;
  background-size: cover;
  background-position: bottom;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11rem 0;
    @include respond(phone) {
      padding: 4rem 5rem;
      text-align: center;
    }
  }
}

.overlay {
  width: 70%;
  height: 4rem;
  margin: 0 auto;
  background-color: var(--transparent);
  @include respond(desktop-ultrahd) {
    width: 30%;
  }
}
